@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.7em;
  text-align: center;
  color: #444;
  background: #d0d0d0;
}

h1 {
  font-size: 2.5em;
  margin: 2em 0 .5em;
}

h2 {
  margin-bottom: 3em;
}

em,
strong {
  font-weight: 700;
}

input {
  display: none;
}

header p {
  margin-bottom: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0;
}
section:last-of-type {
  margin-bottom: 0;
}
section article {
  align-self: center;
  width: 20em;
  margin-bottom: 2em;
}
section article p, section article:last-of-type {
  margin-bottom: 0;
}

p {
  line-height: 1.5em;
  max-width: 20em;
  margin: 1.5em auto 2em;
  padding-bottom: 1.5em;
}
p span {
  display: block;
}

.container {
  z-index: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
}

.factorial {
  word-break: break-all;
}

/*
*
*
START // CHART'S RULES
 -> "if you're picking code, don't forget the variables :)"
 Bar-xx classes @ the and of the file
*/
.chart {
  font-size: 1em;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.bar {
  font-size: 1em;
  position: relative;
  height: 10em;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotateX(60deg) rotateY(0deg);
          transform: rotateX(60deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.bar .face {
  font-size: 2em;
  position: relative;
  width: 100%;
  height: 2em;
  background-color: rgba(254, 254, 254, 0.3);
}
.bar .face.side-a, .bar .face.side-b {
  width: 2em;
}
.bar .side-a {
  -webkit-transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
          transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
}
.bar .side-b {
  -webkit-transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
          transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
  position: absolute;
  right: 0;
}
.bar .side-0 {
  -webkit-transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
          transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
}
.bar .side-1 {
  -webkit-transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
          transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
}
.bar .top {
  -webkit-transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
          transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
}
.bar .floor {
  box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
}

.growing-bar {
  transition: all 0.3s ease-in-out;
  background-color: rgba(236, 0, 140, 0.6);
  width: 100%;
  height: 2em;
}

.bar.yellow .side-a,
.bar.yellow .growing-bar {
  background-color: rgba(241, 196, 15, 0.6);
}
.bar.yellow .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em rgba(241, 196, 15, 0.8);
}
.bar.yellow .floor .growing-bar {
  box-shadow: 0em 0em 2em rgba(241, 196, 15, 0.8);
}

.bar.red .side-a, input[id='red']:checked ~ .chart .side-a,
.bar.red .growing-bar,
input[id='red']:checked ~ .chart .growing-bar {
  background-color: rgba(236, 0, 140, 0.6);
}
.bar.red .side-0 .growing-bar, input[id='red']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em rgba(236, 0, 140, 0.8);
}
.bar.red .floor .growing-bar, input[id='red']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em rgba(236, 0, 140, 0.8);
}

.bar.cyan .side-a, input[id='cyan']:checked ~ .chart .side-a,
.bar.cyan .growing-bar,
input[id='cyan']:checked ~ .chart .growing-bar {
  background-color: rgba(87, 202, 244, 0.6);
}
.bar.cyan .side-0 .growing-bar, input[id='cyan']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #57caf4;
}
.bar.cyan .floor .growing-bar, input[id='cyan']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #57caf4;
}

.bar.navy .side-a,
.bar.navy .growing-bar {
  background-color: rgba(10, 64, 105, 0.6);
}
.bar.navy .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em rgba(10, 64, 105, 0.8);
}
.bar.navy .floor .growing-bar {
  box-shadow: 0em 0em 2em rgba(10, 64, 105, 0.8);
}

.bar.lime .side-a, input[id='lime']:checked ~ .chart .side-a,
.bar.lime .growing-bar,
input[id='lime']:checked ~ .chart .growing-bar {
  background-color: rgba(118, 201, 0, 0.6);
}
.bar.lime .side-0 .growing-bar, input[id='lime']:checked ~ .chart .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #76c900;
}
.bar.lime .floor .growing-bar, input[id='lime']:checked ~ .chart .floor .growing-bar {
  box-shadow: 0em 0em 2em #76c900;
}

.bar.white .side-a,
.bar.white .growing-bar {
  background-color: rgba(254, 254, 254, 0.6);
}
.bar.white .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #fefefe;
}
.bar.white .floor .growing-bar {
  box-shadow: 0em 0em 2em #fefefe;
}

.bar.gray .side-a,
.bar.gray .growing-bar {
  background-color: rgba(68, 68, 68, 0.6);
}
.bar.gray .side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em #444;
}
.bar.gray .floor .growing-bar {
  box-shadow: 0em 0em 2em #444;
}

.chart .bar.yellow-face .face {
  background-color: rgba(241, 196, 15, 0.2);
}

.chart .bar.lime-face .face {
  background-color: rgba(118, 201, 0, 0.2);
}

.chart .bar.red-face .face {
  background-color: rgba(236, 0, 140, 0.2);
}

.chart .bar.navy-face .face {
  background-color: rgba(10, 64, 105, 0.2);
}

.chart .bar.cyan-face .face {
  background-color: rgba(87, 202, 244, 0.2);
}

.chart .bar.gray-face .face {
  background-color: rgba(68, 68, 68, 0.2);
}

.chart .bar.lightGray-face .face {
  background-color: rgba(145, 145, 145, 0.2);
}

/*
END // CHART'S RULES
*
*
*/

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 2em;
  border-bottom: 1px dotted rgba(68, 68, 68, 0.4);
}

label {
  box-sizing: border-box;
  padding: 1em;
  margin: 0 .2em;
  cursor: pointer;
  transition: all .15s ease-in-out;
  color: #0a4069;
  border: 1px solid rgba(254, 254, 254, 0.6);
  border-radius: 0;
  flex: 1;
}
label:first-child {
  margin-left: 0;
  border-radius: .2em 0 0 .2em;
}
label:last-child {
  margin-right: 0;
  border-radius: 0 .2em .2em 0;
}

input[id='pause']:checked ~ .actions label[for='pause'],
input[id='resume']:checked ~ .actions label[for='resume'],
input[id='red']:checked ~ .actions label[for='red'],
input[id='cyan']:checked ~ .actions label[for='cyan'],
input[id='lime']:checked ~ .actions label[for='lime'] {
  color: #76c900;
  border: 1px solid #031523;
  background-color: #0a4069;
}


input[id='resume']:checked ~ * .pause {
  display: inline;
}
input[id='resume']:checked ~ * .resume {
  display: none;
}

input[id='pause']:checked ~ * .resume {
  display: inline;
}
input[id='pause']:checked ~ * .pause {
  display: none;
}

/*
    The classes for the bar progress
 */
.bar-0 .growing-bar {
  width: 0%;
}

.bar-1 .growing-bar {
  width: 0.1%;
}

.bar-2 .growing-bar {
  width: 0.2%;
}

.bar-3 .growing-bar {
  width: 0.3%;
}

.bar-4 .growing-bar {
  width: 0.4%;
}

.bar-5 .growing-bar {
  width: 0.5%;
}

.bar-6 .growing-bar {
  width: 0.6%;
}

.bar-7 .growing-bar {
  width: 0.7%;
}

.bar-8 .growing-bar {
  width: 0.8%;
}

.bar-9 .growing-bar {
  width: 0.9%;
}

.bar-10 .growing-bar {
  width: 1%;
}

.bar-11 .growing-bar {
  width: 1.1%;
}

.bar-12 .growing-bar {
  width: 1.2%;
}

.bar-13 .growing-bar {
  width: 1.3%;
}

.bar-14 .growing-bar {
  width: 1.4%;
}

.bar-15 .growing-bar {
  width: 1.5%;
}

.bar-16 .growing-bar {
  width: 1.6%;
}

.bar-17 .growing-bar {
  width: 1.7%;
}

.bar-18 .growing-bar {
  width: 1.8%;
}

.bar-19 .growing-bar {
  width: 1.9%;
}

.bar-20 .growing-bar {
  width: 2%;
}

.bar-21 .growing-bar {
  width: 2.1%;
}

.bar-22 .growing-bar {
  width: 2.2%;
}

.bar-23 .growing-bar {
  width: 2.3%;
}

.bar-24 .growing-bar {
  width: 2.4%;
}

.bar-25 .growing-bar {
  width: 2.5%;
}

.bar-26 .growing-bar {
  width: 2.6%;
}

.bar-27 .growing-bar {
  width: 2.7%;
}

.bar-28 .growing-bar {
  width: 2.8%;
}

.bar-29 .growing-bar {
  width: 2.9%;
}

.bar-30 .growing-bar {
  width: 3%;
}

.bar-31 .growing-bar {
  width: 3.1%;
}

.bar-32 .growing-bar {
  width: 3.2%;
}

.bar-33 .growing-bar {
  width: 3.3%;
}

.bar-34 .growing-bar {
  width: 3.4%;
}

.bar-35 .growing-bar {
  width: 3.5%;
}

.bar-36 .growing-bar {
  width: 3.6%;
}

.bar-37 .growing-bar {
  width: 3.7%;
}

.bar-38 .growing-bar {
  width: 3.8%;
}

.bar-39 .growing-bar {
  width: 3.9%;
}

.bar-40 .growing-bar {
  width: 4%;
}

.bar-41 .growing-bar {
  width: 4.1%;
}

.bar-42 .growing-bar {
  width: 4.2%;
}

.bar-43 .growing-bar {
  width: 4.3%;
}

.bar-44 .growing-bar {
  width: 4.4%;
}

.bar-45 .growing-bar {
  width: 4.5%;
}

.bar-46 .growing-bar {
  width: 4.6%;
}

.bar-47 .growing-bar {
  width: 4.7%;
}

.bar-48 .growing-bar {
  width: 4.8%;
}

.bar-49 .growing-bar {
  width: 4.9%;
}

.bar-50 .growing-bar {
  width: 5%;
}

.bar-51 .growing-bar {
  width: 5.1%;
}

.bar-52 .growing-bar {
  width: 5.2%;
}

.bar-53 .growing-bar {
  width: 5.3%;
}

.bar-54 .growing-bar {
  width: 5.4%;
}

.bar-55 .growing-bar {
  width: 5.5%;
}

.bar-56 .growing-bar {
  width: 5.6%;
}

.bar-57 .growing-bar {
  width: 5.7%;
}

.bar-58 .growing-bar {
  width: 5.8%;
}

.bar-59 .growing-bar {
  width: 5.9%;
}

.bar-60 .growing-bar {
  width: 6%;
}

.bar-61 .growing-bar {
  width: 6.1%;
}

.bar-62 .growing-bar {
  width: 6.2%;
}

.bar-63 .growing-bar {
  width: 6.3%;
}

.bar-64 .growing-bar {
  width: 6.4%;
}

.bar-65 .growing-bar {
  width: 6.5%;
}

.bar-66 .growing-bar {
  width: 6.6%;
}

.bar-67 .growing-bar {
  width: 6.7%;
}

.bar-68 .growing-bar {
  width: 6.8%;
}

.bar-69 .growing-bar {
  width: 6.9%;
}

.bar-70 .growing-bar {
  width: 7%;
}

.bar-71 .growing-bar {
  width: 7.1%;
}

.bar-72 .growing-bar {
  width: 7.2%;
}

.bar-73 .growing-bar {
  width: 7.3%;
}

.bar-74 .growing-bar {
  width: 7.4%;
}

.bar-75 .growing-bar {
  width: 7.5%;
}

.bar-76 .growing-bar {
  width: 7.6%;
}

.bar-77 .growing-bar {
  width: 7.7%;
}

.bar-78 .growing-bar {
  width: 7.8%;
}

.bar-79 .growing-bar {
  width: 7.9%;
}

.bar-80 .growing-bar {
  width: 8%;
}

.bar-81 .growing-bar {
  width: 8.1%;
}

.bar-82 .growing-bar {
  width: 8.2%;
}

.bar-83 .growing-bar {
  width: 8.3%;
}

.bar-84 .growing-bar {
  width: 8.4%;
}

.bar-85 .growing-bar {
  width: 8.5%;
}

.bar-86 .growing-bar {
  width: 8.6%;
}

.bar-87 .growing-bar {
  width: 8.7%;
}

.bar-88 .growing-bar {
  width: 8.8%;
}

.bar-89 .growing-bar {
  width: 8.9%;
}

.bar-90 .growing-bar {
  width: 9%;
}

.bar-91 .growing-bar {
  width: 9.1%;
}

.bar-92 .growing-bar {
  width: 9.2%;
}

.bar-93 .growing-bar {
  width: 9.3%;
}

.bar-94 .growing-bar {
  width: 9.4%;
}

.bar-95 .growing-bar {
  width: 9.5%;
}

.bar-96 .growing-bar {
  width: 9.6%;
}

.bar-97 .growing-bar {
  width: 9.7%;
}

.bar-98 .growing-bar {
  width: 9.8%;
}

.bar-99 .growing-bar {
  width: 9.9%;
}

.bar-100 .growing-bar {
  width: 10%;
}

.bar-101 .growing-bar {
  width: 10.1%;
}

.bar-102 .growing-bar {
  width: 10.2%;
}

.bar-103 .growing-bar {
  width: 10.3%;
}

.bar-104 .growing-bar {
  width: 10.4%;
}

.bar-105 .growing-bar {
  width: 10.5%;
}

.bar-106 .growing-bar {
  width: 10.6%;
}

.bar-107 .growing-bar {
  width: 10.7%;
}

.bar-108 .growing-bar {
  width: 10.8%;
}

.bar-109 .growing-bar {
  width: 10.9%;
}

.bar-110 .growing-bar {
  width: 11%;
}

.bar-111 .growing-bar {
  width: 11.1%;
}

.bar-112 .growing-bar {
  width: 11.2%;
}

.bar-113 .growing-bar {
  width: 11.3%;
}

.bar-114 .growing-bar {
  width: 11.4%;
}

.bar-115 .growing-bar {
  width: 11.5%;
}

.bar-116 .growing-bar {
  width: 11.6%;
}

.bar-117 .growing-bar {
  width: 11.7%;
}

.bar-118 .growing-bar {
  width: 11.8%;
}

.bar-119 .growing-bar {
  width: 11.9%;
}

.bar-120 .growing-bar {
  width: 12%;
}

.bar-121 .growing-bar {
  width: 12.1%;
}

.bar-122 .growing-bar {
  width: 12.2%;
}

.bar-123 .growing-bar {
  width: 12.3%;
}

.bar-124 .growing-bar {
  width: 12.4%;
}

.bar-125 .growing-bar {
  width: 12.5%;
}

.bar-126 .growing-bar {
  width: 12.6%;
}

.bar-127 .growing-bar {
  width: 12.7%;
}

.bar-128 .growing-bar {
  width: 12.8%;
}

.bar-129 .growing-bar {
  width: 12.9%;
}

.bar-130 .growing-bar {
  width: 13%;
}

.bar-131 .growing-bar {
  width: 13.1%;
}

.bar-132 .growing-bar {
  width: 13.2%;
}

.bar-133 .growing-bar {
  width: 13.3%;
}

.bar-134 .growing-bar {
  width: 13.4%;
}

.bar-135 .growing-bar {
  width: 13.5%;
}

.bar-136 .growing-bar {
  width: 13.6%;
}

.bar-137 .growing-bar {
  width: 13.7%;
}

.bar-138 .growing-bar {
  width: 13.8%;
}

.bar-139 .growing-bar {
  width: 13.9%;
}

.bar-140 .growing-bar {
  width: 14%;
}

.bar-141 .growing-bar {
  width: 14.1%;
}

.bar-142 .growing-bar {
  width: 14.2%;
}

.bar-143 .growing-bar {
  width: 14.3%;
}

.bar-144 .growing-bar {
  width: 14.4%;
}

.bar-145 .growing-bar {
  width: 14.5%;
}

.bar-146 .growing-bar {
  width: 14.6%;
}

.bar-147 .growing-bar {
  width: 14.7%;
}

.bar-148 .growing-bar {
  width: 14.8%;
}

.bar-149 .growing-bar {
  width: 14.9%;
}

.bar-150 .growing-bar {
  width: 15%;
}

.bar-151 .growing-bar {
  width: 15.1%;
}

.bar-152 .growing-bar {
  width: 15.2%;
}

.bar-153 .growing-bar {
  width: 15.3%;
}

.bar-154 .growing-bar {
  width: 15.4%;
}

.bar-155 .growing-bar {
  width: 15.5%;
}

.bar-156 .growing-bar {
  width: 15.6%;
}

.bar-157 .growing-bar {
  width: 15.7%;
}

.bar-158 .growing-bar {
  width: 15.8%;
}

.bar-159 .growing-bar {
  width: 15.9%;
}

.bar-160 .growing-bar {
  width: 16%;
}

.bar-161 .growing-bar {
  width: 16.1%;
}

.bar-162 .growing-bar {
  width: 16.2%;
}

.bar-163 .growing-bar {
  width: 16.3%;
}

.bar-164 .growing-bar {
  width: 16.4%;
}

.bar-165 .growing-bar {
  width: 16.5%;
}

.bar-166 .growing-bar {
  width: 16.6%;
}

.bar-167 .growing-bar {
  width: 16.7%;
}

.bar-168 .growing-bar {
  width: 16.8%;
}

.bar-169 .growing-bar {
  width: 16.9%;
}

.bar-170 .growing-bar {
  width: 17%;
}

.bar-171 .growing-bar {
  width: 17.1%;
}

.bar-172 .growing-bar {
  width: 17.2%;
}

.bar-173 .growing-bar {
  width: 17.3%;
}

.bar-174 .growing-bar {
  width: 17.4%;
}

.bar-175 .growing-bar {
  width: 17.5%;
}

.bar-176 .growing-bar {
  width: 17.6%;
}

.bar-177 .growing-bar {
  width: 17.7%;
}

.bar-178 .growing-bar {
  width: 17.8%;
}

.bar-179 .growing-bar {
  width: 17.9%;
}

.bar-180 .growing-bar {
  width: 18%;
}

.bar-181 .growing-bar {
  width: 18.1%;
}

.bar-182 .growing-bar {
  width: 18.2%;
}

.bar-183 .growing-bar {
  width: 18.3%;
}

.bar-184 .growing-bar {
  width: 18.4%;
}

.bar-185 .growing-bar {
  width: 18.5%;
}

.bar-186 .growing-bar {
  width: 18.6%;
}

.bar-187 .growing-bar {
  width: 18.7%;
}

.bar-188 .growing-bar {
  width: 18.8%;
}

.bar-189 .growing-bar {
  width: 18.9%;
}

.bar-190 .growing-bar {
  width: 19%;
}

.bar-191 .growing-bar {
  width: 19.1%;
}

.bar-192 .growing-bar {
  width: 19.2%;
}

.bar-193 .growing-bar {
  width: 19.3%;
}

.bar-194 .growing-bar {
  width: 19.4%;
}

.bar-195 .growing-bar {
  width: 19.5%;
}

.bar-196 .growing-bar {
  width: 19.6%;
}

.bar-197 .growing-bar {
  width: 19.7%;
}

.bar-198 .growing-bar {
  width: 19.8%;
}

.bar-199 .growing-bar {
  width: 19.9%;
}

.bar-200 .growing-bar {
  width: 20%;
}

.bar-201 .growing-bar {
  width: 20.1%;
}

.bar-202 .growing-bar {
  width: 20.2%;
}

.bar-203 .growing-bar {
  width: 20.3%;
}

.bar-204 .growing-bar {
  width: 20.4%;
}

.bar-205 .growing-bar {
  width: 20.5%;
}

.bar-206 .growing-bar {
  width: 20.6%;
}

.bar-207 .growing-bar {
  width: 20.7%;
}

.bar-208 .growing-bar {
  width: 20.8%;
}

.bar-209 .growing-bar {
  width: 20.9%;
}

.bar-210 .growing-bar {
  width: 21%;
}

.bar-211 .growing-bar {
  width: 21.1%;
}

.bar-212 .growing-bar {
  width: 21.2%;
}

.bar-213 .growing-bar {
  width: 21.3%;
}

.bar-214 .growing-bar {
  width: 21.4%;
}

.bar-215 .growing-bar {
  width: 21.5%;
}

.bar-216 .growing-bar {
  width: 21.6%;
}

.bar-217 .growing-bar {
  width: 21.7%;
}

.bar-218 .growing-bar {
  width: 21.8%;
}

.bar-219 .growing-bar {
  width: 21.9%;
}

.bar-220 .growing-bar {
  width: 22%;
}

.bar-221 .growing-bar {
  width: 22.1%;
}

.bar-222 .growing-bar {
  width: 22.2%;
}

.bar-223 .growing-bar {
  width: 22.3%;
}

.bar-224 .growing-bar {
  width: 22.4%;
}

.bar-225 .growing-bar {
  width: 22.5%;
}

.bar-226 .growing-bar {
  width: 22.6%;
}

.bar-227 .growing-bar {
  width: 22.7%;
}

.bar-228 .growing-bar {
  width: 22.8%;
}

.bar-229 .growing-bar {
  width: 22.9%;
}

.bar-230 .growing-bar {
  width: 23%;
}

.bar-231 .growing-bar {
  width: 23.1%;
}

.bar-232 .growing-bar {
  width: 23.2%;
}

.bar-233 .growing-bar {
  width: 23.3%;
}

.bar-234 .growing-bar {
  width: 23.4%;
}

.bar-235 .growing-bar {
  width: 23.5%;
}

.bar-236 .growing-bar {
  width: 23.6%;
}

.bar-237 .growing-bar {
  width: 23.7%;
}

.bar-238 .growing-bar {
  width: 23.8%;
}

.bar-239 .growing-bar {
  width: 23.9%;
}

.bar-240 .growing-bar {
  width: 24%;
}

.bar-241 .growing-bar {
  width: 24.1%;
}

.bar-242 .growing-bar {
  width: 24.2%;
}

.bar-243 .growing-bar {
  width: 24.3%;
}

.bar-244 .growing-bar {
  width: 24.4%;
}

.bar-245 .growing-bar {
  width: 24.5%;
}

.bar-246 .growing-bar {
  width: 24.6%;
}

.bar-247 .growing-bar {
  width: 24.7%;
}

.bar-248 .growing-bar {
  width: 24.8%;
}

.bar-249 .growing-bar {
  width: 24.9%;
}

.bar-250 .growing-bar {
  width: 25%;
}

.bar-251 .growing-bar {
  width: 25.1%;
}

.bar-252 .growing-bar {
  width: 25.2%;
}

.bar-253 .growing-bar {
  width: 25.3%;
}

.bar-254 .growing-bar {
  width: 25.4%;
}

.bar-255 .growing-bar {
  width: 25.5%;
}

.bar-256 .growing-bar {
  width: 25.6%;
}

.bar-257 .growing-bar {
  width: 25.7%;
}

.bar-258 .growing-bar {
  width: 25.8%;
}

.bar-259 .growing-bar {
  width: 25.9%;
}

.bar-260 .growing-bar {
  width: 26%;
}

.bar-261 .growing-bar {
  width: 26.1%;
}

.bar-262 .growing-bar {
  width: 26.2%;
}

.bar-263 .growing-bar {
  width: 26.3%;
}

.bar-264 .growing-bar {
  width: 26.4%;
}

.bar-265 .growing-bar {
  width: 26.5%;
}

.bar-266 .growing-bar {
  width: 26.6%;
}

.bar-267 .growing-bar {
  width: 26.7%;
}

.bar-268 .growing-bar {
  width: 26.8%;
}

.bar-269 .growing-bar {
  width: 26.9%;
}

.bar-270 .growing-bar {
  width: 27%;
}

.bar-271 .growing-bar {
  width: 27.1%;
}

.bar-272 .growing-bar {
  width: 27.2%;
}

.bar-273 .growing-bar {
  width: 27.3%;
}

.bar-274 .growing-bar {
  width: 27.4%;
}

.bar-275 .growing-bar {
  width: 27.5%;
}

.bar-276 .growing-bar {
  width: 27.6%;
}

.bar-277 .growing-bar {
  width: 27.7%;
}

.bar-278 .growing-bar {
  width: 27.8%;
}

.bar-279 .growing-bar {
  width: 27.9%;
}

.bar-280 .growing-bar {
  width: 28%;
}

.bar-281 .growing-bar {
  width: 28.1%;
}

.bar-282 .growing-bar {
  width: 28.2%;
}

.bar-283 .growing-bar {
  width: 28.3%;
}

.bar-284 .growing-bar {
  width: 28.4%;
}

.bar-285 .growing-bar {
  width: 28.5%;
}

.bar-286 .growing-bar {
  width: 28.6%;
}

.bar-287 .growing-bar {
  width: 28.7%;
}

.bar-288 .growing-bar {
  width: 28.8%;
}

.bar-289 .growing-bar {
  width: 28.9%;
}

.bar-290 .growing-bar {
  width: 29%;
}

.bar-291 .growing-bar {
  width: 29.1%;
}

.bar-292 .growing-bar {
  width: 29.2%;
}

.bar-293 .growing-bar {
  width: 29.3%;
}

.bar-294 .growing-bar {
  width: 29.4%;
}

.bar-295 .growing-bar {
  width: 29.5%;
}

.bar-296 .growing-bar {
  width: 29.6%;
}

.bar-297 .growing-bar {
  width: 29.7%;
}

.bar-298 .growing-bar {
  width: 29.8%;
}

.bar-299 .growing-bar {
  width: 29.9%;
}

.bar-300 .growing-bar {
  width: 30%;
}

.bar-301 .growing-bar {
  width: 30.1%;
}

.bar-302 .growing-bar {
  width: 30.2%;
}

.bar-303 .growing-bar {
  width: 30.3%;
}

.bar-304 .growing-bar {
  width: 30.4%;
}

.bar-305 .growing-bar {
  width: 30.5%;
}

.bar-306 .growing-bar {
  width: 30.6%;
}

.bar-307 .growing-bar {
  width: 30.7%;
}

.bar-308 .growing-bar {
  width: 30.8%;
}

.bar-309 .growing-bar {
  width: 30.9%;
}

.bar-310 .growing-bar {
  width: 31%;
}

.bar-311 .growing-bar {
  width: 31.1%;
}

.bar-312 .growing-bar {
  width: 31.2%;
}

.bar-313 .growing-bar {
  width: 31.3%;
}

.bar-314 .growing-bar {
  width: 31.4%;
}

.bar-315 .growing-bar {
  width: 31.5%;
}

.bar-316 .growing-bar {
  width: 31.6%;
}

.bar-317 .growing-bar {
  width: 31.7%;
}

.bar-318 .growing-bar {
  width: 31.8%;
}

.bar-319 .growing-bar {
  width: 31.9%;
}

.bar-320 .growing-bar {
  width: 32%;
}

.bar-321 .growing-bar {
  width: 32.1%;
}

.bar-322 .growing-bar {
  width: 32.2%;
}

.bar-323 .growing-bar {
  width: 32.3%;
}

.bar-324 .growing-bar {
  width: 32.4%;
}

.bar-325 .growing-bar {
  width: 32.5%;
}

.bar-326 .growing-bar {
  width: 32.6%;
}

.bar-327 .growing-bar {
  width: 32.7%;
}

.bar-328 .growing-bar {
  width: 32.8%;
}

.bar-329 .growing-bar {
  width: 32.9%;
}

.bar-330 .growing-bar {
  width: 33%;
}

.bar-331 .growing-bar {
  width: 33.1%;
}

.bar-332 .growing-bar {
  width: 33.2%;
}

.bar-333 .growing-bar {
  width: 33.3%;
}

.bar-334 .growing-bar {
  width: 33.4%;
}

.bar-335 .growing-bar {
  width: 33.5%;
}

.bar-336 .growing-bar {
  width: 33.6%;
}

.bar-337 .growing-bar {
  width: 33.7%;
}

.bar-338 .growing-bar {
  width: 33.8%;
}

.bar-339 .growing-bar {
  width: 33.9%;
}

.bar-340 .growing-bar {
  width: 34%;
}

.bar-341 .growing-bar {
  width: 34.1%;
}

.bar-342 .growing-bar {
  width: 34.2%;
}

.bar-343 .growing-bar {
  width: 34.3%;
}

.bar-344 .growing-bar {
  width: 34.4%;
}

.bar-345 .growing-bar {
  width: 34.5%;
}

.bar-346 .growing-bar {
  width: 34.6%;
}

.bar-347 .growing-bar {
  width: 34.7%;
}

.bar-348 .growing-bar {
  width: 34.8%;
}

.bar-349 .growing-bar {
  width: 34.9%;
}

.bar-350 .growing-bar {
  width: 35%;
}

.bar-351 .growing-bar {
  width: 35.1%;
}

.bar-352 .growing-bar {
  width: 35.2%;
}

.bar-353 .growing-bar {
  width: 35.3%;
}

.bar-354 .growing-bar {
  width: 35.4%;
}

.bar-355 .growing-bar {
  width: 35.5%;
}

.bar-356 .growing-bar {
  width: 35.6%;
}

.bar-357 .growing-bar {
  width: 35.7%;
}

.bar-358 .growing-bar {
  width: 35.8%;
}

.bar-359 .growing-bar {
  width: 35.9%;
}

.bar-360 .growing-bar {
  width: 36%;
}

.bar-361 .growing-bar {
  width: 36.1%;
}

.bar-362 .growing-bar {
  width: 36.2%;
}

.bar-363 .growing-bar {
  width: 36.3%;
}

.bar-364 .growing-bar {
  width: 36.4%;
}

.bar-365 .growing-bar {
  width: 36.5%;
}

.bar-366 .growing-bar {
  width: 36.6%;
}

.bar-367 .growing-bar {
  width: 36.7%;
}

.bar-368 .growing-bar {
  width: 36.8%;
}

.bar-369 .growing-bar {
  width: 36.9%;
}

.bar-370 .growing-bar {
  width: 37%;
}

.bar-371 .growing-bar {
  width: 37.1%;
}

.bar-372 .growing-bar {
  width: 37.2%;
}

.bar-373 .growing-bar {
  width: 37.3%;
}

.bar-374 .growing-bar {
  width: 37.4%;
}

.bar-375 .growing-bar {
  width: 37.5%;
}

.bar-376 .growing-bar {
  width: 37.6%;
}

.bar-377 .growing-bar {
  width: 37.7%;
}

.bar-378 .growing-bar {
  width: 37.8%;
}

.bar-379 .growing-bar {
  width: 37.9%;
}

.bar-380 .growing-bar {
  width: 38%;
}

.bar-381 .growing-bar {
  width: 38.1%;
}

.bar-382 .growing-bar {
  width: 38.2%;
}

.bar-383 .growing-bar {
  width: 38.3%;
}

.bar-384 .growing-bar {
  width: 38.4%;
}

.bar-385 .growing-bar {
  width: 38.5%;
}

.bar-386 .growing-bar {
  width: 38.6%;
}

.bar-387 .growing-bar {
  width: 38.7%;
}

.bar-388 .growing-bar {
  width: 38.8%;
}

.bar-389 .growing-bar {
  width: 38.9%;
}

.bar-390 .growing-bar {
  width: 39%;
}

.bar-391 .growing-bar {
  width: 39.1%;
}

.bar-392 .growing-bar {
  width: 39.2%;
}

.bar-393 .growing-bar {
  width: 39.3%;
}

.bar-394 .growing-bar {
  width: 39.4%;
}

.bar-395 .growing-bar {
  width: 39.5%;
}

.bar-396 .growing-bar {
  width: 39.6%;
}

.bar-397 .growing-bar {
  width: 39.7%;
}

.bar-398 .growing-bar {
  width: 39.8%;
}

.bar-399 .growing-bar {
  width: 39.9%;
}

.bar-400 .growing-bar {
  width: 40%;
}

.bar-401 .growing-bar {
  width: 40.1%;
}

.bar-402 .growing-bar {
  width: 40.2%;
}

.bar-403 .growing-bar {
  width: 40.3%;
}

.bar-404 .growing-bar {
  width: 40.4%;
}

.bar-405 .growing-bar {
  width: 40.5%;
}

.bar-406 .growing-bar {
  width: 40.6%;
}

.bar-407 .growing-bar {
  width: 40.7%;
}

.bar-408 .growing-bar {
  width: 40.8%;
}

.bar-409 .growing-bar {
  width: 40.9%;
}

.bar-410 .growing-bar {
  width: 41%;
}

.bar-411 .growing-bar {
  width: 41.1%;
}

.bar-412 .growing-bar {
  width: 41.2%;
}

.bar-413 .growing-bar {
  width: 41.3%;
}

.bar-414 .growing-bar {
  width: 41.4%;
}

.bar-415 .growing-bar {
  width: 41.5%;
}

.bar-416 .growing-bar {
  width: 41.6%;
}

.bar-417 .growing-bar {
  width: 41.7%;
}

.bar-418 .growing-bar {
  width: 41.8%;
}

.bar-419 .growing-bar {
  width: 41.9%;
}

.bar-420 .growing-bar {
  width: 42%;
}

.bar-421 .growing-bar {
  width: 42.1%;
}

.bar-422 .growing-bar {
  width: 42.2%;
}

.bar-423 .growing-bar {
  width: 42.3%;
}

.bar-424 .growing-bar {
  width: 42.4%;
}

.bar-425 .growing-bar {
  width: 42.5%;
}

.bar-426 .growing-bar {
  width: 42.6%;
}

.bar-427 .growing-bar {
  width: 42.7%;
}

.bar-428 .growing-bar {
  width: 42.8%;
}

.bar-429 .growing-bar {
  width: 42.9%;
}

.bar-430 .growing-bar {
  width: 43%;
}

.bar-431 .growing-bar {
  width: 43.1%;
}

.bar-432 .growing-bar {
  width: 43.2%;
}

.bar-433 .growing-bar {
  width: 43.3%;
}

.bar-434 .growing-bar {
  width: 43.4%;
}

.bar-435 .growing-bar {
  width: 43.5%;
}

.bar-436 .growing-bar {
  width: 43.6%;
}

.bar-437 .growing-bar {
  width: 43.7%;
}

.bar-438 .growing-bar {
  width: 43.8%;
}

.bar-439 .growing-bar {
  width: 43.9%;
}

.bar-440 .growing-bar {
  width: 44%;
}

.bar-441 .growing-bar {
  width: 44.1%;
}

.bar-442 .growing-bar {
  width: 44.2%;
}

.bar-443 .growing-bar {
  width: 44.3%;
}

.bar-444 .growing-bar {
  width: 44.4%;
}

.bar-445 .growing-bar {
  width: 44.5%;
}

.bar-446 .growing-bar {
  width: 44.6%;
}

.bar-447 .growing-bar {
  width: 44.7%;
}

.bar-448 .growing-bar {
  width: 44.8%;
}

.bar-449 .growing-bar {
  width: 44.9%;
}

.bar-450 .growing-bar {
  width: 45%;
}

.bar-451 .growing-bar {
  width: 45.1%;
}

.bar-452 .growing-bar {
  width: 45.2%;
}

.bar-453 .growing-bar {
  width: 45.3%;
}

.bar-454 .growing-bar {
  width: 45.4%;
}

.bar-455 .growing-bar {
  width: 45.5%;
}

.bar-456 .growing-bar {
  width: 45.6%;
}

.bar-457 .growing-bar {
  width: 45.7%;
}

.bar-458 .growing-bar {
  width: 45.8%;
}

.bar-459 .growing-bar {
  width: 45.9%;
}

.bar-460 .growing-bar {
  width: 46%;
}

.bar-461 .growing-bar {
  width: 46.1%;
}

.bar-462 .growing-bar {
  width: 46.2%;
}

.bar-463 .growing-bar {
  width: 46.3%;
}

.bar-464 .growing-bar {
  width: 46.4%;
}

.bar-465 .growing-bar {
  width: 46.5%;
}

.bar-466 .growing-bar {
  width: 46.6%;
}

.bar-467 .growing-bar {
  width: 46.7%;
}

.bar-468 .growing-bar {
  width: 46.8%;
}

.bar-469 .growing-bar {
  width: 46.9%;
}

.bar-470 .growing-bar {
  width: 47%;
}

.bar-471 .growing-bar {
  width: 47.1%;
}

.bar-472 .growing-bar {
  width: 47.2%;
}

.bar-473 .growing-bar {
  width: 47.3%;
}

.bar-474 .growing-bar {
  width: 47.4%;
}

.bar-475 .growing-bar {
  width: 47.5%;
}

.bar-476 .growing-bar {
  width: 47.6%;
}

.bar-477 .growing-bar {
  width: 47.7%;
}

.bar-478 .growing-bar {
  width: 47.8%;
}

.bar-479 .growing-bar {
  width: 47.9%;
}

.bar-480 .growing-bar {
  width: 48%;
}

.bar-481 .growing-bar {
  width: 48.1%;
}

.bar-482 .growing-bar {
  width: 48.2%;
}

.bar-483 .growing-bar {
  width: 48.3%;
}

.bar-484 .growing-bar {
  width: 48.4%;
}

.bar-485 .growing-bar {
  width: 48.5%;
}

.bar-486 .growing-bar {
  width: 48.6%;
}

.bar-487 .growing-bar {
  width: 48.7%;
}

.bar-488 .growing-bar {
  width: 48.8%;
}

.bar-489 .growing-bar {
  width: 48.9%;
}

.bar-490 .growing-bar {
  width: 49%;
}

.bar-491 .growing-bar {
  width: 49.1%;
}

.bar-492 .growing-bar {
  width: 49.2%;
}

.bar-493 .growing-bar {
  width: 49.3%;
}

.bar-494 .growing-bar {
  width: 49.4%;
}

.bar-495 .growing-bar {
  width: 49.5%;
}

.bar-496 .growing-bar {
  width: 49.6%;
}

.bar-497 .growing-bar {
  width: 49.7%;
}

.bar-498 .growing-bar {
  width: 49.8%;
}

.bar-499 .growing-bar {
  width: 49.9%;
}

.bar-500 .growing-bar {
  width: 50%;
}

.bar-501 .growing-bar {
  width: 50.1%;
}

.bar-502 .growing-bar {
  width: 50.2%;
}

.bar-503 .growing-bar {
  width: 50.3%;
}

.bar-504 .growing-bar {
  width: 50.4%;
}

.bar-505 .growing-bar {
  width: 50.5%;
}

.bar-506 .growing-bar {
  width: 50.6%;
}

.bar-507 .growing-bar {
  width: 50.7%;
}

.bar-508 .growing-bar {
  width: 50.8%;
}

.bar-509 .growing-bar {
  width: 50.9%;
}

.bar-510 .growing-bar {
  width: 51%;
}

.bar-511 .growing-bar {
  width: 51.1%;
}

.bar-512 .growing-bar {
  width: 51.2%;
}

.bar-513 .growing-bar {
  width: 51.3%;
}

.bar-514 .growing-bar {
  width: 51.4%;
}

.bar-515 .growing-bar {
  width: 51.5%;
}

.bar-516 .growing-bar {
  width: 51.6%;
}

.bar-517 .growing-bar {
  width: 51.7%;
}

.bar-518 .growing-bar {
  width: 51.8%;
}

.bar-519 .growing-bar {
  width: 51.9%;
}

.bar-520 .growing-bar {
  width: 52%;
}

.bar-521 .growing-bar {
  width: 52.1%;
}

.bar-522 .growing-bar {
  width: 52.2%;
}

.bar-523 .growing-bar {
  width: 52.3%;
}

.bar-524 .growing-bar {
  width: 52.4%;
}

.bar-525 .growing-bar {
  width: 52.5%;
}

.bar-526 .growing-bar {
  width: 52.6%;
}

.bar-527 .growing-bar {
  width: 52.7%;
}

.bar-528 .growing-bar {
  width: 52.8%;
}

.bar-529 .growing-bar {
  width: 52.9%;
}

.bar-530 .growing-bar {
  width: 53%;
}

.bar-531 .growing-bar {
  width: 53.1%;
}

.bar-532 .growing-bar {
  width: 53.2%;
}

.bar-533 .growing-bar {
  width: 53.3%;
}

.bar-534 .growing-bar {
  width: 53.4%;
}

.bar-535 .growing-bar {
  width: 53.5%;
}

.bar-536 .growing-bar {
  width: 53.6%;
}

.bar-537 .growing-bar {
  width: 53.7%;
}

.bar-538 .growing-bar {
  width: 53.8%;
}

.bar-539 .growing-bar {
  width: 53.9%;
}

.bar-540 .growing-bar {
  width: 54%;
}

.bar-541 .growing-bar {
  width: 54.1%;
}

.bar-542 .growing-bar {
  width: 54.2%;
}

.bar-543 .growing-bar {
  width: 54.3%;
}

.bar-544 .growing-bar {
  width: 54.4%;
}

.bar-545 .growing-bar {
  width: 54.5%;
}

.bar-546 .growing-bar {
  width: 54.6%;
}

.bar-547 .growing-bar {
  width: 54.7%;
}

.bar-548 .growing-bar {
  width: 54.8%;
}

.bar-549 .growing-bar {
  width: 54.9%;
}

.bar-550 .growing-bar {
  width: 55%;
}

.bar-551 .growing-bar {
  width: 55.1%;
}

.bar-552 .growing-bar {
  width: 55.2%;
}

.bar-553 .growing-bar {
  width: 55.3%;
}

.bar-554 .growing-bar {
  width: 55.4%;
}

.bar-555 .growing-bar {
  width: 55.5%;
}

.bar-556 .growing-bar {
  width: 55.6%;
}

.bar-557 .growing-bar {
  width: 55.7%;
}

.bar-558 .growing-bar {
  width: 55.8%;
}

.bar-559 .growing-bar {
  width: 55.9%;
}

.bar-560 .growing-bar {
  width: 56%;
}

.bar-561 .growing-bar {
  width: 56.1%;
}

.bar-562 .growing-bar {
  width: 56.2%;
}

.bar-563 .growing-bar {
  width: 56.3%;
}

.bar-564 .growing-bar {
  width: 56.4%;
}

.bar-565 .growing-bar {
  width: 56.5%;
}

.bar-566 .growing-bar {
  width: 56.6%;
}

.bar-567 .growing-bar {
  width: 56.7%;
}

.bar-568 .growing-bar {
  width: 56.8%;
}

.bar-569 .growing-bar {
  width: 56.9%;
}

.bar-570 .growing-bar {
  width: 57%;
}

.bar-571 .growing-bar {
  width: 57.1%;
}

.bar-572 .growing-bar {
  width: 57.2%;
}

.bar-573 .growing-bar {
  width: 57.3%;
}

.bar-574 .growing-bar {
  width: 57.4%;
}

.bar-575 .growing-bar {
  width: 57.5%;
}

.bar-576 .growing-bar {
  width: 57.6%;
}

.bar-577 .growing-bar {
  width: 57.7%;
}

.bar-578 .growing-bar {
  width: 57.8%;
}

.bar-579 .growing-bar {
  width: 57.9%;
}

.bar-580 .growing-bar {
  width: 58%;
}

.bar-581 .growing-bar {
  width: 58.1%;
}

.bar-582 .growing-bar {
  width: 58.2%;
}

.bar-583 .growing-bar {
  width: 58.3%;
}

.bar-584 .growing-bar {
  width: 58.4%;
}

.bar-585 .growing-bar {
  width: 58.5%;
}

.bar-586 .growing-bar {
  width: 58.6%;
}

.bar-587 .growing-bar {
  width: 58.7%;
}

.bar-588 .growing-bar {
  width: 58.8%;
}

.bar-589 .growing-bar {
  width: 58.9%;
}

.bar-590 .growing-bar {
  width: 59%;
}

.bar-591 .growing-bar {
  width: 59.1%;
}

.bar-592 .growing-bar {
  width: 59.2%;
}

.bar-593 .growing-bar {
  width: 59.3%;
}

.bar-594 .growing-bar {
  width: 59.4%;
}

.bar-595 .growing-bar {
  width: 59.5%;
}

.bar-596 .growing-bar {
  width: 59.6%;
}

.bar-597 .growing-bar {
  width: 59.7%;
}

.bar-598 .growing-bar {
  width: 59.8%;
}

.bar-599 .growing-bar {
  width: 59.9%;
}

.bar-600 .growing-bar {
  width: 60%;
}

.bar-601 .growing-bar {
  width: 60.1%;
}

.bar-602 .growing-bar {
  width: 60.2%;
}

.bar-603 .growing-bar {
  width: 60.3%;
}

.bar-604 .growing-bar {
  width: 60.4%;
}

.bar-605 .growing-bar {
  width: 60.5%;
}

.bar-606 .growing-bar {
  width: 60.6%;
}

.bar-607 .growing-bar {
  width: 60.7%;
}

.bar-608 .growing-bar {
  width: 60.8%;
}

.bar-609 .growing-bar {
  width: 60.9%;
}

.bar-610 .growing-bar {
  width: 61%;
}

.bar-611 .growing-bar {
  width: 61.1%;
}

.bar-612 .growing-bar {
  width: 61.2%;
}

.bar-613 .growing-bar {
  width: 61.3%;
}

.bar-614 .growing-bar {
  width: 61.4%;
}

.bar-615 .growing-bar {
  width: 61.5%;
}

.bar-616 .growing-bar {
  width: 61.6%;
}

.bar-617 .growing-bar {
  width: 61.7%;
}

.bar-618 .growing-bar {
  width: 61.8%;
}

.bar-619 .growing-bar {
  width: 61.9%;
}

.bar-620 .growing-bar {
  width: 62%;
}

.bar-621 .growing-bar {
  width: 62.1%;
}

.bar-622 .growing-bar {
  width: 62.2%;
}

.bar-623 .growing-bar {
  width: 62.3%;
}

.bar-624 .growing-bar {
  width: 62.4%;
}

.bar-625 .growing-bar {
  width: 62.5%;
}

.bar-626 .growing-bar {
  width: 62.6%;
}

.bar-627 .growing-bar {
  width: 62.7%;
}

.bar-628 .growing-bar {
  width: 62.8%;
}

.bar-629 .growing-bar {
  width: 62.9%;
}

.bar-630 .growing-bar {
  width: 63%;
}

.bar-631 .growing-bar {
  width: 63.1%;
}

.bar-632 .growing-bar {
  width: 63.2%;
}

.bar-633 .growing-bar {
  width: 63.3%;
}

.bar-634 .growing-bar {
  width: 63.4%;
}

.bar-635 .growing-bar {
  width: 63.5%;
}

.bar-636 .growing-bar {
  width: 63.6%;
}

.bar-637 .growing-bar {
  width: 63.7%;
}

.bar-638 .growing-bar {
  width: 63.8%;
}

.bar-639 .growing-bar {
  width: 63.9%;
}

.bar-640 .growing-bar {
  width: 64%;
}

.bar-641 .growing-bar {
  width: 64.1%;
}

.bar-642 .growing-bar {
  width: 64.2%;
}

.bar-643 .growing-bar {
  width: 64.3%;
}

.bar-644 .growing-bar {
  width: 64.4%;
}

.bar-645 .growing-bar {
  width: 64.5%;
}

.bar-646 .growing-bar {
  width: 64.6%;
}

.bar-647 .growing-bar {
  width: 64.7%;
}

.bar-648 .growing-bar {
  width: 64.8%;
}

.bar-649 .growing-bar {
  width: 64.9%;
}

.bar-650 .growing-bar {
  width: 65%;
}

.bar-651 .growing-bar {
  width: 65.1%;
}

.bar-652 .growing-bar {
  width: 65.2%;
}

.bar-653 .growing-bar {
  width: 65.3%;
}

.bar-654 .growing-bar {
  width: 65.4%;
}

.bar-655 .growing-bar {
  width: 65.5%;
}

.bar-656 .growing-bar {
  width: 65.6%;
}

.bar-657 .growing-bar {
  width: 65.7%;
}

.bar-658 .growing-bar {
  width: 65.8%;
}

.bar-659 .growing-bar {
  width: 65.9%;
}

.bar-660 .growing-bar {
  width: 66%;
}

.bar-661 .growing-bar {
  width: 66.1%;
}

.bar-662 .growing-bar {
  width: 66.2%;
}

.bar-663 .growing-bar {
  width: 66.3%;
}

.bar-664 .growing-bar {
  width: 66.4%;
}

.bar-665 .growing-bar {
  width: 66.5%;
}

.bar-666 .growing-bar {
  width: 66.6%;
}

.bar-667 .growing-bar {
  width: 66.7%;
}

.bar-668 .growing-bar {
  width: 66.8%;
}

.bar-669 .growing-bar {
  width: 66.9%;
}

.bar-670 .growing-bar {
  width: 67%;
}

.bar-671 .growing-bar {
  width: 67.1%;
}

.bar-672 .growing-bar {
  width: 67.2%;
}

.bar-673 .growing-bar {
  width: 67.3%;
}

.bar-674 .growing-bar {
  width: 67.4%;
}

.bar-675 .growing-bar {
  width: 67.5%;
}

.bar-676 .growing-bar {
  width: 67.6%;
}

.bar-677 .growing-bar {
  width: 67.7%;
}

.bar-678 .growing-bar {
  width: 67.8%;
}

.bar-679 .growing-bar {
  width: 67.9%;
}

.bar-680 .growing-bar {
  width: 68%;
}

.bar-681 .growing-bar {
  width: 68.1%;
}

.bar-682 .growing-bar {
  width: 68.2%;
}

.bar-683 .growing-bar {
  width: 68.3%;
}

.bar-684 .growing-bar {
  width: 68.4%;
}

.bar-685 .growing-bar {
  width: 68.5%;
}

.bar-686 .growing-bar {
  width: 68.6%;
}

.bar-687 .growing-bar {
  width: 68.7%;
}

.bar-688 .growing-bar {
  width: 68.8%;
}

.bar-689 .growing-bar {
  width: 68.9%;
}

.bar-690 .growing-bar {
  width: 69%;
}

.bar-691 .growing-bar {
  width: 69.1%;
}

.bar-692 .growing-bar {
  width: 69.2%;
}

.bar-693 .growing-bar {
  width: 69.3%;
}

.bar-694 .growing-bar {
  width: 69.4%;
}

.bar-695 .growing-bar {
  width: 69.5%;
}

.bar-696 .growing-bar {
  width: 69.6%;
}

.bar-697 .growing-bar {
  width: 69.7%;
}

.bar-698 .growing-bar {
  width: 69.8%;
}

.bar-699 .growing-bar {
  width: 69.9%;
}

.bar-700 .growing-bar {
  width: 70%;
}

.bar-701 .growing-bar {
  width: 70.1%;
}

.bar-702 .growing-bar {
  width: 70.2%;
}

.bar-703 .growing-bar {
  width: 70.3%;
}

.bar-704 .growing-bar {
  width: 70.4%;
}

.bar-705 .growing-bar {
  width: 70.5%;
}

.bar-706 .growing-bar {
  width: 70.6%;
}

.bar-707 .growing-bar {
  width: 70.7%;
}

.bar-708 .growing-bar {
  width: 70.8%;
}

.bar-709 .growing-bar {
  width: 70.9%;
}

.bar-710 .growing-bar {
  width: 71%;
}

.bar-711 .growing-bar {
  width: 71.1%;
}

.bar-712 .growing-bar {
  width: 71.2%;
}

.bar-713 .growing-bar {
  width: 71.3%;
}

.bar-714 .growing-bar {
  width: 71.4%;
}

.bar-715 .growing-bar {
  width: 71.5%;
}

.bar-716 .growing-bar {
  width: 71.6%;
}

.bar-717 .growing-bar {
  width: 71.7%;
}

.bar-718 .growing-bar {
  width: 71.8%;
}

.bar-719 .growing-bar {
  width: 71.9%;
}

.bar-720 .growing-bar {
  width: 72%;
}

.bar-721 .growing-bar {
  width: 72.1%;
}

.bar-722 .growing-bar {
  width: 72.2%;
}

.bar-723 .growing-bar {
  width: 72.3%;
}

.bar-724 .growing-bar {
  width: 72.4%;
}

.bar-725 .growing-bar {
  width: 72.5%;
}

.bar-726 .growing-bar {
  width: 72.6%;
}

.bar-727 .growing-bar {
  width: 72.7%;
}

.bar-728 .growing-bar {
  width: 72.8%;
}

.bar-729 .growing-bar {
  width: 72.9%;
}

.bar-730 .growing-bar {
  width: 73%;
}

.bar-731 .growing-bar {
  width: 73.1%;
}

.bar-732 .growing-bar {
  width: 73.2%;
}

.bar-733 .growing-bar {
  width: 73.3%;
}

.bar-734 .growing-bar {
  width: 73.4%;
}

.bar-735 .growing-bar {
  width: 73.5%;
}

.bar-736 .growing-bar {
  width: 73.6%;
}

.bar-737 .growing-bar {
  width: 73.7%;
}

.bar-738 .growing-bar {
  width: 73.8%;
}

.bar-739 .growing-bar {
  width: 73.9%;
}

.bar-740 .growing-bar {
  width: 74%;
}

.bar-741 .growing-bar {
  width: 74.1%;
}

.bar-742 .growing-bar {
  width: 74.2%;
}

.bar-743 .growing-bar {
  width: 74.3%;
}

.bar-744 .growing-bar {
  width: 74.4%;
}

.bar-745 .growing-bar {
  width: 74.5%;
}

.bar-746 .growing-bar {
  width: 74.6%;
}

.bar-747 .growing-bar {
  width: 74.7%;
}

.bar-748 .growing-bar {
  width: 74.8%;
}

.bar-749 .growing-bar {
  width: 74.9%;
}

.bar-750 .growing-bar {
  width: 75%;
}

.bar-751 .growing-bar {
  width: 75.1%;
}

.bar-752 .growing-bar {
  width: 75.2%;
}

.bar-753 .growing-bar {
  width: 75.3%;
}

.bar-754 .growing-bar {
  width: 75.4%;
}

.bar-755 .growing-bar {
  width: 75.5%;
}

.bar-756 .growing-bar {
  width: 75.6%;
}

.bar-757 .growing-bar {
  width: 75.7%;
}

.bar-758 .growing-bar {
  width: 75.8%;
}

.bar-759 .growing-bar {
  width: 75.9%;
}

.bar-760 .growing-bar {
  width: 76%;
}

.bar-761 .growing-bar {
  width: 76.1%;
}

.bar-762 .growing-bar {
  width: 76.2%;
}

.bar-763 .growing-bar {
  width: 76.3%;
}

.bar-764 .growing-bar {
  width: 76.4%;
}

.bar-765 .growing-bar {
  width: 76.5%;
}

.bar-766 .growing-bar {
  width: 76.6%;
}

.bar-767 .growing-bar {
  width: 76.7%;
}

.bar-768 .growing-bar {
  width: 76.8%;
}

.bar-769 .growing-bar {
  width: 76.9%;
}

.bar-770 .growing-bar {
  width: 77%;
}

.bar-771 .growing-bar {
  width: 77.1%;
}

.bar-772 .growing-bar {
  width: 77.2%;
}

.bar-773 .growing-bar {
  width: 77.3%;
}

.bar-774 .growing-bar {
  width: 77.4%;
}

.bar-775 .growing-bar {
  width: 77.5%;
}

.bar-776 .growing-bar {
  width: 77.6%;
}

.bar-777 .growing-bar {
  width: 77.7%;
}

.bar-778 .growing-bar {
  width: 77.8%;
}

.bar-779 .growing-bar {
  width: 77.9%;
}

.bar-780 .growing-bar {
  width: 78%;
}

.bar-781 .growing-bar {
  width: 78.1%;
}

.bar-782 .growing-bar {
  width: 78.2%;
}

.bar-783 .growing-bar {
  width: 78.3%;
}

.bar-784 .growing-bar {
  width: 78.4%;
}

.bar-785 .growing-bar {
  width: 78.5%;
}

.bar-786 .growing-bar {
  width: 78.6%;
}

.bar-787 .growing-bar {
  width: 78.7%;
}

.bar-788 .growing-bar {
  width: 78.8%;
}

.bar-789 .growing-bar {
  width: 78.9%;
}

.bar-790 .growing-bar {
  width: 79%;
}

.bar-791 .growing-bar {
  width: 79.1%;
}

.bar-792 .growing-bar {
  width: 79.2%;
}

.bar-793 .growing-bar {
  width: 79.3%;
}

.bar-794 .growing-bar {
  width: 79.4%;
}

.bar-795 .growing-bar {
  width: 79.5%;
}

.bar-796 .growing-bar {
  width: 79.6%;
}

.bar-797 .growing-bar {
  width: 79.7%;
}

.bar-798 .growing-bar {
  width: 79.8%;
}

.bar-799 .growing-bar {
  width: 79.9%;
}

.bar-800 .growing-bar {
  width: 80%;
}

.bar-801 .growing-bar {
  width: 80.1%;
}

.bar-802 .growing-bar {
  width: 80.2%;
}

.bar-803 .growing-bar {
  width: 80.3%;
}

.bar-804 .growing-bar {
  width: 80.4%;
}

.bar-805 .growing-bar {
  width: 80.5%;
}

.bar-806 .growing-bar {
  width: 80.6%;
}

.bar-807 .growing-bar {
  width: 80.7%;
}

.bar-808 .growing-bar {
  width: 80.8%;
}

.bar-809 .growing-bar {
  width: 80.9%;
}

.bar-810 .growing-bar {
  width: 81%;
}

.bar-811 .growing-bar {
  width: 81.1%;
}

.bar-812 .growing-bar {
  width: 81.2%;
}

.bar-813 .growing-bar {
  width: 81.3%;
}

.bar-814 .growing-bar {
  width: 81.4%;
}

.bar-815 .growing-bar {
  width: 81.5%;
}

.bar-816 .growing-bar {
  width: 81.6%;
}

.bar-817 .growing-bar {
  width: 81.7%;
}

.bar-818 .growing-bar {
  width: 81.8%;
}

.bar-819 .growing-bar {
  width: 81.9%;
}

.bar-820 .growing-bar {
  width: 82%;
}

.bar-821 .growing-bar {
  width: 82.1%;
}

.bar-822 .growing-bar {
  width: 82.2%;
}

.bar-823 .growing-bar {
  width: 82.3%;
}

.bar-824 .growing-bar {
  width: 82.4%;
}

.bar-825 .growing-bar {
  width: 82.5%;
}

.bar-826 .growing-bar {
  width: 82.6%;
}

.bar-827 .growing-bar {
  width: 82.7%;
}

.bar-828 .growing-bar {
  width: 82.8%;
}

.bar-829 .growing-bar {
  width: 82.9%;
}

.bar-830 .growing-bar {
  width: 83%;
}

.bar-831 .growing-bar {
  width: 83.1%;
}

.bar-832 .growing-bar {
  width: 83.2%;
}

.bar-833 .growing-bar {
  width: 83.3%;
}

.bar-834 .growing-bar {
  width: 83.4%;
}

.bar-835 .growing-bar {
  width: 83.5%;
}

.bar-836 .growing-bar {
  width: 83.6%;
}

.bar-837 .growing-bar {
  width: 83.7%;
}

.bar-838 .growing-bar {
  width: 83.8%;
}

.bar-839 .growing-bar {
  width: 83.9%;
}

.bar-840 .growing-bar {
  width: 84%;
}

.bar-841 .growing-bar {
  width: 84.1%;
}

.bar-842 .growing-bar {
  width: 84.2%;
}

.bar-843 .growing-bar {
  width: 84.3%;
}

.bar-844 .growing-bar {
  width: 84.4%;
}

.bar-845 .growing-bar {
  width: 84.5%;
}

.bar-846 .growing-bar {
  width: 84.6%;
}

.bar-847 .growing-bar {
  width: 84.7%;
}

.bar-848 .growing-bar {
  width: 84.8%;
}

.bar-849 .growing-bar {
  width: 84.9%;
}

.bar-850 .growing-bar {
  width: 85%;
}

.bar-851 .growing-bar {
  width: 85.1%;
}

.bar-852 .growing-bar {
  width: 85.2%;
}

.bar-853 .growing-bar {
  width: 85.3%;
}

.bar-854 .growing-bar {
  width: 85.4%;
}

.bar-855 .growing-bar {
  width: 85.5%;
}

.bar-856 .growing-bar {
  width: 85.6%;
}

.bar-857 .growing-bar {
  width: 85.7%;
}

.bar-858 .growing-bar {
  width: 85.8%;
}

.bar-859 .growing-bar {
  width: 85.9%;
}

.bar-860 .growing-bar {
  width: 86%;
}

.bar-861 .growing-bar {
  width: 86.1%;
}

.bar-862 .growing-bar {
  width: 86.2%;
}

.bar-863 .growing-bar {
  width: 86.3%;
}

.bar-864 .growing-bar {
  width: 86.4%;
}

.bar-865 .growing-bar {
  width: 86.5%;
}

.bar-866 .growing-bar {
  width: 86.6%;
}

.bar-867 .growing-bar {
  width: 86.7%;
}

.bar-868 .growing-bar {
  width: 86.8%;
}

.bar-869 .growing-bar {
  width: 86.9%;
}

.bar-870 .growing-bar {
  width: 87%;
}

.bar-871 .growing-bar {
  width: 87.1%;
}

.bar-872 .growing-bar {
  width: 87.2%;
}

.bar-873 .growing-bar {
  width: 87.3%;
}

.bar-874 .growing-bar {
  width: 87.4%;
}

.bar-875 .growing-bar {
  width: 87.5%;
}

.bar-876 .growing-bar {
  width: 87.6%;
}

.bar-877 .growing-bar {
  width: 87.7%;
}

.bar-878 .growing-bar {
  width: 87.8%;
}

.bar-879 .growing-bar {
  width: 87.9%;
}

.bar-880 .growing-bar {
  width: 88%;
}

.bar-881 .growing-bar {
  width: 88.1%;
}

.bar-882 .growing-bar {
  width: 88.2%;
}

.bar-883 .growing-bar {
  width: 88.3%;
}

.bar-884 .growing-bar {
  width: 88.4%;
}

.bar-885 .growing-bar {
  width: 88.5%;
}

.bar-886 .growing-bar {
  width: 88.6%;
}

.bar-887 .growing-bar {
  width: 88.7%;
}

.bar-888 .growing-bar {
  width: 88.8%;
}

.bar-889 .growing-bar {
  width: 88.9%;
}

.bar-890 .growing-bar {
  width: 89%;
}

.bar-891 .growing-bar {
  width: 89.1%;
}

.bar-892 .growing-bar {
  width: 89.2%;
}

.bar-893 .growing-bar {
  width: 89.3%;
}

.bar-894 .growing-bar {
  width: 89.4%;
}

.bar-895 .growing-bar {
  width: 89.5%;
}

.bar-896 .growing-bar {
  width: 89.6%;
}

.bar-897 .growing-bar {
  width: 89.7%;
}

.bar-898 .growing-bar {
  width: 89.8%;
}

.bar-899 .growing-bar {
  width: 89.9%;
}

.bar-900 .growing-bar {
  width: 90%;
}

.bar-901 .growing-bar {
  width: 90.1%;
}

.bar-902 .growing-bar {
  width: 90.2%;
}

.bar-903 .growing-bar {
  width: 90.3%;
}

.bar-904 .growing-bar {
  width: 90.4%;
}

.bar-905 .growing-bar {
  width: 90.5%;
}

.bar-906 .growing-bar {
  width: 90.6%;
}

.bar-907 .growing-bar {
  width: 90.7%;
}

.bar-908 .growing-bar {
  width: 90.8%;
}

.bar-909 .growing-bar {
  width: 90.9%;
}

.bar-910 .growing-bar {
  width: 91%;
}

.bar-911 .growing-bar {
  width: 91.1%;
}

.bar-912 .growing-bar {
  width: 91.2%;
}

.bar-913 .growing-bar {
  width: 91.3%;
}

.bar-914 .growing-bar {
  width: 91.4%;
}

.bar-915 .growing-bar {
  width: 91.5%;
}

.bar-916 .growing-bar {
  width: 91.6%;
}

.bar-917 .growing-bar {
  width: 91.7%;
}

.bar-918 .growing-bar {
  width: 91.8%;
}

.bar-919 .growing-bar {
  width: 91.9%;
}

.bar-920 .growing-bar {
  width: 92%;
}

.bar-921 .growing-bar {
  width: 92.1%;
}

.bar-922 .growing-bar {
  width: 92.2%;
}

.bar-923 .growing-bar {
  width: 92.3%;
}

.bar-924 .growing-bar {
  width: 92.4%;
}

.bar-925 .growing-bar {
  width: 92.5%;
}

.bar-926 .growing-bar {
  width: 92.6%;
}

.bar-927 .growing-bar {
  width: 92.7%;
}

.bar-928 .growing-bar {
  width: 92.8%;
}

.bar-929 .growing-bar {
  width: 92.9%;
}

.bar-930 .growing-bar {
  width: 93%;
}

.bar-931 .growing-bar {
  width: 93.1%;
}

.bar-932 .growing-bar {
  width: 93.2%;
}

.bar-933 .growing-bar {
  width: 93.3%;
}

.bar-934 .growing-bar {
  width: 93.4%;
}

.bar-935 .growing-bar {
  width: 93.5%;
}

.bar-936 .growing-bar {
  width: 93.6%;
}

.bar-937 .growing-bar {
  width: 93.7%;
}

.bar-938 .growing-bar {
  width: 93.8%;
}

.bar-939 .growing-bar {
  width: 93.9%;
}

.bar-940 .growing-bar {
  width: 94%;
}

.bar-941 .growing-bar {
  width: 94.1%;
}

.bar-942 .growing-bar {
  width: 94.2%;
}

.bar-943 .growing-bar {
  width: 94.3%;
}

.bar-944 .growing-bar {
  width: 94.4%;
}

.bar-945 .growing-bar {
  width: 94.5%;
}

.bar-946 .growing-bar {
  width: 94.6%;
}

.bar-947 .growing-bar {
  width: 94.7%;
}

.bar-948 .growing-bar {
  width: 94.8%;
}

.bar-949 .growing-bar {
  width: 94.9%;
}

.bar-950 .growing-bar {
  width: 95%;
}

.bar-951 .growing-bar {
  width: 95.1%;
}

.bar-952 .growing-bar {
  width: 95.2%;
}

.bar-953 .growing-bar {
  width: 95.3%;
}

.bar-954 .growing-bar {
  width: 95.4%;
}

.bar-955 .growing-bar {
  width: 95.5%;
}

.bar-956 .growing-bar {
  width: 95.6%;
}

.bar-957 .growing-bar {
  width: 95.7%;
}

.bar-958 .growing-bar {
  width: 95.8%;
}

.bar-959 .growing-bar {
  width: 95.9%;
}

.bar-960 .growing-bar {
  width: 96%;
}

.bar-961 .growing-bar {
  width: 96.1%;
}

.bar-962 .growing-bar {
  width: 96.2%;
}

.bar-963 .growing-bar {
  width: 96.3%;
}

.bar-964 .growing-bar {
  width: 96.4%;
}

.bar-965 .growing-bar {
  width: 96.5%;
}

.bar-966 .growing-bar {
  width: 96.6%;
}

.bar-967 .growing-bar {
  width: 96.7%;
}

.bar-968 .growing-bar {
  width: 96.8%;
}

.bar-969 .growing-bar {
  width: 96.9%;
}

.bar-970 .growing-bar {
  width: 97%;
}

.bar-971 .growing-bar {
  width: 97.1%;
}

.bar-972 .growing-bar {
  width: 97.2%;
}

.bar-973 .growing-bar {
  width: 97.3%;
}

.bar-974 .growing-bar {
  width: 97.4%;
}

.bar-975 .growing-bar {
  width: 97.5%;
}

.bar-976 .growing-bar {
  width: 97.6%;
}

.bar-977 .growing-bar {
  width: 97.7%;
}

.bar-978 .growing-bar {
  width: 97.8%;
}

.bar-979 .growing-bar {
  width: 97.9%;
}

.bar-980 .growing-bar {
  width: 98%;
}

.bar-981 .growing-bar {
  width: 98.1%;
}

.bar-982 .growing-bar {
  width: 98.2%;
}

.bar-983 .growing-bar {
  width: 98.3%;
}

.bar-984 .growing-bar {
  width: 98.4%;
}

.bar-985 .growing-bar {
  width: 98.5%;
}

.bar-986 .growing-bar {
  width: 98.6%;
}

.bar-987 .growing-bar {
  width: 98.7%;
}

.bar-988 .growing-bar {
  width: 98.8%;
}

.bar-989 .growing-bar {
  width: 98.9%;
}

.bar-990 .growing-bar {
  width: 99%;
}

.bar-991 .growing-bar {
  width: 99.1%;
}

.bar-992 .growing-bar {
  width: 99.2%;
}

.bar-993 .growing-bar {
  width: 99.3%;
}

.bar-994 .growing-bar {
  width: 99.4%;
}

.bar-995 .growing-bar {
  width: 99.5%;
}

.bar-996 .growing-bar {
  width: 99.6%;
}

.bar-997 .growing-bar {
  width: 99.7%;
}

.bar-998 .growing-bar {
  width: 99.8%;
}

.bar-999 .growing-bar {
  width: 99.9%;
}

.bar-1000 .growing-bar {
  width: 100%;
}

.bar-1001 .growing-bar {
  width: 100.1%;
}

.bar-1002 .growing-bar {
  width: 100.2%;
}

.bar-1003 .growing-bar {
  width: 100.3%;
}

.bar-1004 .growing-bar {
  width: 100.4%;
}

.bar-1005 .growing-bar {
  width: 100.5%;
}

.bar-1006 .growing-bar {
  width: 100.6%;
}

.bar-1007 .growing-bar {
  width: 100.7%;
}

.bar-1008 .growing-bar {
  width: 100.8%;
}

.bar-1009 .growing-bar {
  width: 100.9%;
}
