html, body {
    background-color: #006409;
    height:100%;
    margin:0;
    padding:0;
}

.matrix {
    height:100%;
    overflow: hidden;
}

.line {
    position: relative;
    height: 100%;
    display: table;
}

.innerLine {
    position: absolute;
    display: table;
    bottom: 0;
}
